@import 'reset';
@import 'document';
@import 'mixins';
@import 'menu';




.container{
    display: flex;
    justify-content: space-between;

    &_inner{
        width: 100vw;
        padding: auto;
        z-index: 0;

        .center{
            width: 80%;
            margin:auto;
        }

        &.open{
            margin-left: 300px;
        }
    }

}